body {
  background: #d2d2c1 url(imagens/fundo.png);
  font: 16px Arial, Helvetica, sans-serif;
}

#container {
  width: 900px;
}

.navigation {
  background-color: #c5c5b2;
  padding: 1.5rem;
}

h2 {
  color: #828271;
}

a {
  text-decoration: none;
  font-size: larger;
  color: white;
  font-weight: bold;
  padding: 1rem;
  color: #4b566a;
}

.main-container {
  padding: 1.5rem;
  background-color: #e8e8d9;
}

.rodape {
  text-align: center;
}

.img-campanhas {
  border: 10px solid #c3c3ae;
}
